.App {
  text-align: center;
}

.fire-calc-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basic{
  text-align: center;
  padding: 0 3rem 0 3rem;
  display:flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: 9rem;
  margin-bottom: 13rem;
}

.advanced{
  text-align: center;
  padding: 0 3rem 0 3rem;
  display:flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: 9rem;
  margin-bottom: 13rem;
}

