.App {
  text-align: center;
}

.advancedapp {
  text-align: center;
  align-self: center;
}
.fire-calc-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basic{
  text-align: center;
  padding: 0 3rem 0 3rem;
  display:flex;
  height: 12rem;
  margin-bottom: 0rem;
  margin-top: 2rem;
  align-self: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.advanced{
  text-align: center;
  padding: 0 3rem 0 3rem;
  display:flex;
  height: 30rem;
  margin-bottom: 8rem;
  margin-top: 2rem;
  margin-bottom: 13rem;
  flex-direction: column;
}

.label {
  margin-bottom: .75rem;
}

